# Ambiente Virtual do Python - nunca deve ir para o repositório
venv/
__pycache__/

# Pasta de backups - são específicos de cada instalação
backups/

# Pasta de recibos salvos
recibos/

# Pasta de imagens de produtos enviadas pela cliente
uploads/

# Pasta de códigos de barras gerados
barcodes/


estoque.db
